<app-nav></app-nav>
<div class="col-md-6 offset-md-3">


        <h2>Update Issue</h2>
        <form (ngSubmit) ="onSubmit()">
        
            <div class="form-group">
                <label>Mail Subject</label>
                <input type="text" class="form-control" id="mailSub"
                    [(ngModel)] = "issues.mailSub" name = "mailSub">
            </div>
            <div class="form-group">
                    <label>Category</label>
                    <input type="text" class="form-control" id="category"
                        [(ngModel)] = "issues.category" name = "category">
                        
            </div>
            <div class="form-group">
                    <label>Engineer</label>
                    <input type="text" class="form-control" id="engineer"
                        [(ngModel)] = "issues.engineer" name = "engineer">
                        
            </div>
                <div class="form-group">
                        <label>Sevierity</label>
                        <input type="text" class="form-control" id="sevierity"
                            [(ngModel)] = "issues.sevierity" name = "sevierity">
                            
                </div>
                <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" id="status"
                            [(ngModel)] = "issues.status" name = "status">
                            
                </div>
                <div class="form-group">
                        <label>Next Step</label>
                        <input type="text" class="form-control" id="nextStep"
                            [(ngModel)] = "issues.nextStep" name = "nextStep">
                            
                </div>
        
                <button class="btn btn-success" type="submit">Submit</button>
        
        
        </form>
</div>
        

