
<h2>Issue Details</h2>
<div class="card blockquote mb-0">
    <div class="card-body">
        <label> <b>Mail Subject :</b></label> {{issue.mailSub}}
    </div>
    <div class="card-body">
            <label> <b>Category :</b></label> {{issue.category}}
    </div>
    <div class="card-body">
            <label> <b>Sevierity :</b></label> {{issue.sevierity}}
    </div>
    <div class="card-body">
            <label> <b>Status :</b></label> {{issue.status}}
    </div>
    <div class="card-body">
            <label> <b>Engineer :</b></label> {{issue.engineer}}
    </div>
    <div class="card-body">
            <label> <b>Next Step :</b></label> {{issue.nextStep}}
    </div>
    <div class="card-body">
            <label> <b>Issue Date :</b></label> {{issue.issue_date}}
    </div>

</div>
