<div class="form-signin">
    <form #loginForm="ngForm" (ngSubmit) ="onSubmit()">
    <small class="text-danger" >{{msg}}</small>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <label for="inputEmail" class="visually-hidden">Email address</label>
      <input type="email" id="emailId" name="emailId" [(ngModel)] = "employee.emailId" class="form-control is-invalid" placeholder="Email address" required autofocus #email="ngModel"[class.is-invalid]="email.invalid && email.touched" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
      <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched" >Email ID is required field</small> -->
     <div *ngIf="email.errors && (email.invalid) && (email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email ID is required field</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Please enter a valid email</small>
     </div>
      <br>
        <button [disabled]="loginForm.form.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      

    </form>
</div>