              
    <ul class = "nav justify-content-end">
            <li class="nav-item text-white">
                      <a routerLink="/employees" routerLinkActive="active" class="nav-link">Employee List</a>
            </li>
            <li class="nav-item">
                     <a routerLink="/create-component" routerLinkActive="active" class="nav-link">Add Employee</a>
             </li>
             <li class="nav-item">
                <a routerLink="/ngp-issues" routerLinkActive="active" class="nav-link">NGP Issues</a>
             </li>
             <li class="nav-item">
                <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
             </li>
     </ul>
                               

 
    
